name: Compile Examples

# See: https://docs.github.com/en/free-pro-team@latest/actions/reference/events-that-trigger-workflows
on:
  push:
    paths:
      - ".github/workflows/compile-examples.yml"
      - "examples/**"
      - "src/**"
  pull_request:
    paths:
      - ".github/workflows/compile-examples.yml"
      - "examples/**"
      - "src/**"
  schedule:
    # Run every Tuesday at 8 AM UTC to catch breakage caused by changes to external resources (libraries, platforms).
    - cron: "0 8 * * TUE"
  workflow_dispatch:
  repository_dispatch:

jobs:
  build:
    name: ${{ matrix.board.fqbn }}
    runs-on: ubuntu-latest

    env:
      SKETCHES_REPORTS_PATH: sketches-reports

    strategy:
      fail-fast: false

      matrix:
        board:
          - fqbn: arduino:samd:mkrwifi1010
            platforms: |
              - name: arduino:samd
            artifact-name-suffix: arduino-samd-mkrwifi1010
            type: nina
          - fqbn: arduino:samd:nano_33_iot
            platforms: |
              - name: arduino:samd
            artifact-name-suffix: arduino-samd-nano_33_iot
            type: nina
          - fqbn: arduino:megaavr:uno2018:mode=on
            platforms: |
              - name: arduino:megaavr
            artifact-name-suffix: arduino-megaavr-uno2018
            type: nina
          - fqbn: arduino:mbed_nano:nano33ble
            platforms: |
              - name: arduino:mbed_nano
            artifact-name-suffix: arduino-mbed_nano-nano33ble
            type: nina
          - fqbn: arduino:mbed_nano:nanorp2040connect
            platforms: |
              - name: arduino:mbed_nano
            artifact-name-suffix: arduino-mbed_nano-nanorp2040connect
            type: nina
          - fqbn: arduino:renesas_uno:unor4wifi
            platforms: |
              - name: arduino:renesas_uno
            artifact-name-suffix: arduino-renesas_uno-unor4wifi
            type: unor4wifi

        include:
          - board:
              type: nina
            libraries: |
              - name: WiFiNINA
          - board:
              type: unor4wifi
            libraries:

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Compile examples
        uses: arduino/compile-sketches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fqbn: ${{ matrix.board.fqbn }}
          platforms: ${{ matrix.board.platforms }}
          libraries: |
            # Install the library from the local path.
            - source-path: ./
            ${{ matrix.libraries }}
          sketch-paths: |
            - examples
          enable-deltas-report: true
          sketches-report-path: ${{ env.SKETCHES_REPORTS_PATH }}

      - name: Save sketches report as workflow artifact
        uses: actions/upload-artifact@v4
        with:
          if-no-files-found: error
          path: ${{ env.SKETCHES_REPORTS_PATH }}
          name: sketches-report-${{ matrix.board.artifact-name-suffix }}

  build-for-esp32:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        fqbn:
          - esp32:esp32:esp32
          - esp32:esp32:esp32s3
          - esp32:esp32:esp32c3
          - esp32:esp32:esp32c6
          - esp32:esp32:esp32h2
          # Not supported out of the box by ESP32 Arduino core
          #- esp32:esp32:esp32c2

    steps:
      - uses: actions/checkout@v5
      - uses: arduino/compile-sketches@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          fqbn: ${{ matrix.fqbn }}
          libraries: |
            ${{ matrix.libraries }}
          platforms: |
            - name: esp32:esp32
              source-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
          sketch-paths: |
            - examples/Central/Scan
            - examples/Central/PeripheralExplorer
            - examples/Central/ScanCallback
            - examples/Central/SensorTagButton
            - examples/Peripheral/Advertising/EnhancedAdvertising
            - examples/Peripheral/Advertising/RawDataAdvertising
          cli-compile-flags: |
            - --warnings="none"
