name: Spell Check

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Spell check
        uses: arduino/actions/libraries/spell-check@master
        with:
          skip-paths: ./extras/test